/* Page title */
/* Navigation */
/* Sidebar colors */
/* Footer colors */
body > header {
  background: url('../images/noise.png?1395525734') top left #9351a6;
}
body > header h2 {
  color: #472750;
}

h1.entry-title {
  border-left: 8px solid;
  border-left-color: #a971b9;
  padding-left: 8px;
}
